Trafikverket/Trafikverket.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BaseCondition">
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="value" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BaseGroup">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="EXISTS" type="BaseCondition" minOccurs="0" />
      <xs:element name="LT" type="BaseCondition" minOccurs="0"/>
      <xs:element name="LTE" type="BaseCondition" minOccurs="0"/>
      <xs:element name="GT" type="BaseCondition" minOccurs="0"/>
      <xs:element name="GTE" type="BaseCondition" minOccurs="0"/>
      <xs:element name="EQ" type="BaseCondition" minOccurs="0"/>
      <xs:element name="NE" type="BaseCondition" minOccurs="0"/>
      <xs:element name="LIKE" type="BaseCondition" minOccurs="0"/>
      <xs:element name="NOTLIKE" type="BaseCondition" minOccurs="0"/>
      <xs:element name="IN" type="BaseCondition" minOccurs="0"/>
      <xs:element name="NOTIN" type="BaseCondition" minOccurs="0"/>
      <xs:element name="WITHIN" type="BaseCondition" minOccurs="0"/>
      <xs:element name="AND" type="BaseGroup" minOccurs="0"/>
      <xs:element name="OR" type="BaseGroup" minOccurs="0"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Login">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="authenticationkey"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element name="FILTER" type="BaseGroup"/>
      <xs:element name="INCLUDE" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="objecttype"/>
    <xs:attribute type="xs:string" name="orderby"/>
  </xs:complexType>
  <xs:element name="REQUEST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="LOGIN" type="Login"/>
        <xs:element name="QUERY" type="Query"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
